<!DOCTYPE html>
<html>
<head>
	<title>CCASA Student</title>
	<link rel="stylesheet" type="text/css" href="~/css/LoginSignUp.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true"> 
		<div class="signup">
			<form action="/Student/SignUp" method="post">
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="txt" placeholder="User name" required="">
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<div class="center-div">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>

		<div class="login">
			<form action="/Home/Login" method="post">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				
				<div class="center-div">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</body>
</html>