<!DOCTYPE html>
<html>
<head>
	<title>CCASA Counsellor</title>
	<link rel="stylesheet" type="text/css" href="~/css/LoginSignUp.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	 <h1>@Model</h1>
</body>
</html>
