
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    <title>CCASA</title>
</head>
<body> 
    <form method="post" action="/Home/Check">
        <h1>Are you a Counselor or a Student?</h1>
        <input type="radio" id="counselor" name="userType" value="counselor">
        <label for="counselor">Counselor</label>
        <input type="radio" id="student" name="userType" value="student">
        <label for="student">Student</label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
